#main{
	padding-top: 60px;
	padding-bottom:60px;
}
#main table tr{
text-align:left;
}
#main table tr a:not(.note-editor a){
 	text-align:right;
display: inline-block;
    border-radius: 5px;
	padding: 10px;
	color: #fff;
	background-color:#621ae5;
	margin: 10px 5px 10px 0;
	text-decoration: none;
}
#main table tr a:hover:not(.note-editor a){
background-color: #8757de;

}
.post_write{
	margin: 0 auto;
}
.post_write>tbody>tr:last-child>td {
	text-align: right;
}